.section-18 {
  background: url('../../img/section-18/background.jpg');
}

.section-18 .form-group {
  height: 107px;
  width: 940px;
  background: #262626;
  margin-left: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-18 .form-group .form-block {
  height: 52px;
  width: 260px;
  margin-top: 28px;
  margin-left: 30px;
  margin-right: 16px;
}

.section-18 .form-group .submit {
  font: 15px "ProximaNovaRegular";
  color: #fcf0d2;
  background: #f4c50b;
  padding: 18px 25px 18px 27px;
  text-transform: uppercase;
  border: 0;
}

.section-18 .form-group .submit:hover {
  text-decoration: none;
  background: #b89d34;
}