div.text-asphalt h2 {
  font: 35px/35px "ProximaNovaSemibold", sans-serif;
  margin-bottom: 15px;
}

div.text-asphalt p.asphalt {
  font: 18px "ProximaNovaRegular", sans-serif;
}

div.text-asphalt p.asphalt u {
  text-decoration: none;
  color: #f0c50b;
  font: 18px/18px "ProximaNovaSemibold", sans-serif;
}

div.text-asphalt p.asphalt span {
  background: #262626;
  padding-left: 4px;
  padding-right: 4px; 
}