.section-3 {
  background: url('../../img/section-3/background.jpg') no-repeat center;
}

div.img-asphalt {
  width: 641px;
  height: 260px;
  margin-top: 107px;
  margin-bottom: 20px;
  background: url('../../img/section-3/asphalt.png') no-repeat -35px;
  position: relative;
}

div.text-asphalt {
  right: 0;
  top: 85px;
  position: absolute;
}