.section-15 {
  background: #fff;
}

.content {
  margin-top: 69px;
  padding-bottom: 71px;
}

.picture {
  padding-right: 65px;
  padding-left: 69px;
}

 .forward-1 {
  position: absolute;
  margin-top: 47px;
  margin-left: 11px;
 }